Tests: lsinitrd
Architecture: !armel !i386
Depends: dracut, linux-image-generic, zstd
Restrictions: needs-root, superficial

# Skip following test cases:
# * TEST-61-MULTINIC: disabled in upstream CI since 2023-01-02
# * TEST-62-BONDBRIDGEVLAN: https://github.com/dracutdevs/dracut/issues/2328
# arm64, armhf, ppc64el, and s390x need upstream support: https://github.com/dracutdevs/dracut/issues/2493
Features: test-name=upstream-dracut-core
Test-Command: debian/tests/run-upstream-tests SKIP="30 60 61 62 70 71 72"
Architecture: amd64
Restrictions: allow-stderr, needs-root
Depends: bsdextrautils,
         btrfs-progs,
         busybox,
         dbus,
         dracut-core,
         dracut-test,
         fdisk,
         kbd,
         linux-image-generic,
         make,
         pkgconf,
         squashfs-tools,
         systemd-boot-efi [amd64 arm64 armhf riscv64],
         systemd-container,
         systemd-coredump,
         systemd-repart,
         systemd-ukify

Features: test-name=upstream-dracut-live
Test-Command: debian/tests/run-upstream-tests TESTS="30"
Architecture: amd64
Restrictions: allow-stderr, needs-root
Depends: bsdextrautils,
         btrfs-progs,
         busybox,
         dracut-live,
         dracut-test,
         fdisk,
         kbd,
         linux-image-generic,
         make,
         parted,
         squashfs-tools

Features: test-name=upstream-dracut-network-nfs
Test-Command: debian/tests/run-upstream-tests TESTS="60"
Architecture: amd64
Restrictions: allow-stderr, needs-root
Depends: bsdextrautils,
         curl,
         dracut-live,
         dracut-network,
         dracut-test,
         isc-dhcp-client,
         isc-dhcp-server,
         linux-image-generic,
         make,
         nfs-kernel-server,
         procps

Features: test-name=upstream-dracut-network-iscsi
Test-Command: debian/tests/run-upstream-tests TESTS="70 71"
Architecture: amd64
Restrictions: allow-stderr, needs-root
Depends: bsdextrautils,
         dracut-network,
         dracut-test,
         isc-dhcp-client,
         isc-dhcp-server,
         linux-image-generic,
         make,
         open-iscsi,
         procps,
         tgt

Features: test-name=upstream-dracut-network-nbd
Test-Command: debian/tests/run-upstream-tests TESTS="72"
Architecture: amd64
Restrictions: allow-stderr, needs-root
Depends: bsdextrautils,
         dracut-network,
         dracut-test,
         isc-dhcp-client,
         isc-dhcp-server,
         linux-image-generic,
         make,
         nbd-client,
         nbd-server,
         procps
