#!/usr/bin/make -f

#export DH_VERBOSE=1
DPKG_EXPORT_BUILDTOOLS=1
-include /usr/share/dpkg/buildtools.mk
include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
export DRACUT_MAIN_VERSION=$(DEB_VERSION_UPSTREAM_REVISION)
export DRACUT_FULL_VERSION=$(DEB_VERSION)
# For "make install" to not install files needed for tests
export enable_test=no

deb_systemdsystemunitdir = $(shell pkg-config --variable=systemdsystemunitdir systemd | sed s,^/,,)

%:
	dh $@ --with bash-completion

override_dh_auto_configure:
	dh_auto_configure -- --configprofile=debian --systemdsystemunitdir=/$(deb_systemdsystemunitdir) --libdir=/usr/lib
	cp dracut-version.sh dracut-version.sh.orig
	sed -i 's;^\(DRACUT_VERSION=\).*;\1$(DRACUT_FULL_VERSION);' dracut-version.sh

override_dh_fixperms-arch:
	dh_fixperms
	find debian/ -name "*.sh" | grep modules.d | xargs chmod 755

override_dh_fixperms-indep:
	dh_fixperms
	find debian/ -name "*.sh" | grep modules.d | xargs chmod 755
	rm -f debian/*/usr/lib/dracut/modules.d/77dracut-systemd/*.adoc
	rm -f debian/*/usr/lib/dracut/modules.d/77dracut-systemd/*.8
ifneq ($(DEB_HOST_ARCH), s390x)
	for m in 68cms 69cio_ignore 73zipl 74dasd 74dasd_mod \
		74dcssblk 74zfcp 74znet; do \
		rm -r debian/*/usr/lib/dracut/modules.d/$$m ; \
	done
else
	rm -r debian/*/usr/lib/dracut/modules.d/00warpclock
endif

override_dh_auto_test:
	make syncheck

override_dh_install:
	dh_install
	dh_install -pdracut-core $(deb_systemdsystemunitdir)

override_dh_clean:
	if test -e dracut-version.sh.orig ; then \
	   mv -f dracut-version.sh.orig dracut-version.sh ;\
	fi
	dh_clean dracut.pc Makefile.inc src/skipcpio/skipcpio src/util/util
	if test -d .git; then \
		git status|grep modified: | awk '/.adoc/ {print $$2}' | xargs -r git checkout;\
    fi
